<div class="container">
    <div class="row">
        <div class="col-md-12">

            <ng-wizard [config]="config" (stepChanged)="stepChanged($event)">

                <ng-wizard-step [title]="'1. Datos Generales'" [description]="'Captura la información solicitada:'" [canEnter]="isValidTypeBoolean" [canExit]="isValidFunctionReturnsBoolean.bind(this)">
                    <app-step-generales></app-step-generales>
                    <div style="text-align:right">
                        <button class="btn btn-primary m-1" (click)="next()">Siguiente&nbsp;<i class="fa-solid fa-chevron-right"></i></button>
                    </div>
                </ng-wizard-step>


                <ng-wizard-step [title]="'2. Datos Financieros'" [description]="'Captura la información solicitada:'" [canEnter]="isValidTypeBoolean" [canExit]="isValidFunctionReturnsBoolean.bind(this)">
                    <app-step-financieros [objectG]="dataFinal"></app-step-financieros>
                    <div style="text-align:right">
                        <button class="btn btn-secondary m-1" (click)="showPreviousStep()"><i class="fa-solid fa-chevron-left"></i>&nbsp;Atras</button>
                        <button class="btn btn-primary m-1" (click)="next()">Siguiente&nbsp;<i class="fa-solid fa-chevron-right"></i></button>
                    </div>
                </ng-wizard-step>


                <ng-wizard-step [title]="'3. Enviar Datos'" [description]="'Verifica la información'" [canEnter]="isValidTypeBoolean" [canExit]="isValidFunctionReturnsBoolean.bind(this)">
                    <app-card [object]="dataFinal"></app-card>
                    <div style="text-align:right">
                        <button class="btn btn-secondary m-1" (click)="showPreviousStep()"><i class="fa-solid fa-chevron-left"></i>&nbsp;Atras</button>
                    </div>
                </ng-wizard-step>



            </ng-wizard>
        </div>
    </div>
</div>