<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8" style="margin-top:20px">
        <form [formGroup]="formStep2">
            <div class="form-group" *ngIf="objectG.esMayor">
                <label for="rfc">RFC</label>
                <input type="text" class="form-control" id="rfc" placeholder="" formControlName="rfc">
                <small id="cpid" class="form-text text-muted" *ngIf="formStep2.get('rfc')?.errors?.pattern" style="color:red !important">
                  El RFC no tiene el formato correcto.
                </small>
            </div>
            <div class="form-group">
                <label for="calle">Calle</label>
                <input type="text" class="form-control" id="calle" placeholder="" formControlName="calle">
            </div>
            <div class="form-group">
                <label for="numero">Numero</label>
                <input type="text" class="form-control" id="numero" placeholder="" formControlName="numero">
            </div>
            <div class="form-group">
                <label for="colonia">Colonia</label>
                <input type="text" class="form-control" id="colonia" placeholder="" formControlName="colonia">
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Código Postal</label>
                <input type="text" class="form-control" id="cpid" placeholder="" formControlName="cp" maxlength="5">
                <small id="cpid" class="form-text text-muted" *ngIf="formStep2.get('cp')?.errors?.pattern" style="color:red !important">
                  El código postal debe ser númerico.
                </small>
            </div>

        </form>

    </div>
    <div class="col-md-2">&nbsp;</div>

</div>