<div class="header">
    <div>Angular</div>
    <div>Datepicker</div>
</div>
<div class="body">

    <mat-form-field>
        <mat-label>Introduce un rango de fechas:</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker touchUi="true"></mat-date-range-picker>

        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid') || range.controls.end.hasError('matEndDateInvalid')">Fecha Inválida</mat-error>
        <mat-error *ngIf="range.controls.start.hasError('matDatepickerParse') || range.controls.end.hasError('matDatepickerParse')">Fecha Inválida</mat-error>
        <mat-error *ngIf="range.controls.start.hasError('required') || range.controls.end.hasError('required')">Campo Requerido</mat-error>

    </mat-form-field>

    <p>Valores Seleccionados: {{range.value | json}}</p>
    {{range.get('start')?.errors | json}}

</div>