<div class="header">
    <div>
        <img width="40" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
        />
    </div>
    <div>Angular</div>
    <div>Datepicker</div>
</div>


<div class="allbody">

    <div class="info">
        <ul>
            <li>
                Para utilizar el datepicker en tu aplicación debes importar el modulo correspondiente:
            </li>
        </ul>
        <code>
        import {{ '{' }}MatDatepickerModule'{{ '}' }} 'from '@angular/material/datepicker';
        </code> dentro de tu app.module.ts:
        <br>
        <pre>
            imports: [  
             MatFormFieldModule,
             <strong>MatDatepickerModule</strong>
             BrowserModule,
             BrowserAnimationsModule,
             FormsModule,
             MatNativeDateModule,
             ReactiveFormsModule,
            ],
        </pre>


        <ul>
            <li>Para establecer fecha máxima y mínima:</li>
        </ul>

        <pre>

            //En el .ts que estas trabajando
            public minDate;
            public maxDate;
            constructor() {{ '{' }}
        
            let dd = String(new Date().getDate()).padStart(2,'0');
            let mm = String(new Date().getMonth()).padStart(2,'0');
            let yyyy = new Date().getFullYear();
            // En minDate se setea el año actual,mes actual y del día actual -(5 dias)
            this.minDate = new Date(yyyy,parseInt(mm)-1,parseInt(dd)-5);
            this.maxDate = new Date(yyyy,parseInt(mm)-1,parseInt(dd));
        
            {{ '}' }}
        </pre>
        <code>
            //Agregar [min]="minDate" [max]="maxDate <br><br>
            &lt;mat-date-range-input [formGroup]="range" [rangePicker]="picker" <strong>[min]="minDate" [max]="maxDate"</strong>&gt;
        </code>
        <ul>
            <li>Para mensaje de campo requerido:</li>
        </ul>

        Agregar a tu campo en el ts:
        <pre>
    range = new FormGroup({{ '{' }}
        start: new FormControl('', [
          <strong>Validators.required</strong>
        ]),
        end: new FormControl('', [
          <strong>Validators.required</strong>
        ]),
        {{ '}' }});
        </pre>
        <p>Y en el .html definir tu mensaje con su validación:</p>
        <code>
        &lt;mat-error *ngIf="range.controls.start.hasError('required') || range.controls.end.hasError('required')"&gt;Campo Requerido&lt;/mat-error&gt;
        </code>
    </div>
    <div class="body">

        <mat-form-field>
            <mat-label>Introduce un rango de fechas:</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker" [min]="minDate" [max]="maxDate">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker touchUi="true"></mat-date-range-picker>

            <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid') || range.controls.end.hasError('matEndDateInvalid')">Fecha Inválida</mat-error>
            <mat-error *ngIf="range.controls.start.hasError('matDatepickerParse') || range.controls.end.hasError('matDatepickerParse')">Fecha Inválida</mat-error>
            <mat-error *ngIf="range.controls.start.hasError('required') || range.controls.end.hasError('required')">Campo Requerido</mat-error>

        </mat-form-field>

        <p>Valor Seleccionado Inicio: {{range.value.start | json}}</p>
        <p>Valor Seleccionado Fin: {{range.value.end | json}}</p>



        <!--         <input matInput (keyup)="test($event)" [formControl]="cp" maxlength="5">
 -->
    </div>


</div>