<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">
        <div class="row">&nbsp;</div>
        <div class="card" style="display:flex;border-radius: 5px 5px 0 0;">
            <div style="
            background: #0eb984;
            height: 45px;
            border-radius: 5px 5px 0 0;
        ">&nbsp;</div>
            <div style="display: flex;background: #f9f9f9">
                <div style="display: flex;flex-direction: column;justify-content: space-around">
                    <img class="card-img-top" src="https://via.placeholder.com/200x220" alt="Card image cap" style="margin:12px">
                </div>
                <div class="card-body" style="text-align:center">
                    <p class="card-title" style="color:#076145">Federación Mexicana de Futbol</p>
                    <p class="card-text">{{object.nombre | titlecase}} {{object.paterno | titlecase}} {{object.materno | titlecase}}</p>
                    <p class="card-text"><small class="text-muted">{{object.rfc | uppercase}}</small></p>
                    <p class="card-text"><small class="text-muted"><i>{{object.ocupacion | uppercase}}</i></small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">&nbsp;</div>

</div>

<div style="text-align:center" class="m-3">
    <button type="button" class="btn btn-success" (click)="sendData()"><i class="fa-regular fa-paper-plane"></i>&nbsp;
Enviar Datos
</button>
</div>



<!-- Modal -->
<div class="modal" id="mi-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">¿Desea continuar con el envío de información?</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>La información que se enviará es la siguiente:</p>

                <fieldset>
                    <legend>Información Personal</legend>
                    <p><strong>Nombre:</strong> {{object?.nombre | titlecase}} {{object?.paterno | titlecase}} {{object?.materno | titlecase}}</p>
                    <p><strong>Fecha de Nacimiento:</strong> {{object?.nacimiento}}</p>
                    <p><strong>Genero:</strong> {{object?.genero?.nombre}}</p>
                    <p><strong>Nacionalidad</strong>: {{object?.nacionalidad?.nombre}}</p>
                    <p><strong>Club de Futbol:</strong> {{object?.club?.nombre}}</p>
                    <p><strong>Ocupación:</strong> {{object?.ocupacion | titlecase}}</p>
                </fieldset>
                <fieldset>
                    <legend>Generales</legend>
                    <p *ngIf="object.esMayor"><strong>RFC:</strong> {{object?.rfc | uppercase}}</p>
                    <p><strong>Calle:</strong> {{object?.calle | titlecase}}</p>
                    <p><strong>Número:</strong> {{object?.numero}}</p>
                    <p><strong>Colonia:</strong> {{object?.colonia | titlecase}}</p>
                    <p><strong>Código Postal:</strong> {{object?.cp}}</p>
                </fieldset>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa-regular fa-circle-xmark"></i>&nbsp;Cancelar</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="sendtoWS()"><i class="fa-regular fa-circle-check"></i>&nbsp;Continuar</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModal" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModal">Registro Guardado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                El registro fue guardado exitosamente.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="goHome()">Cerrar</button>
            </div>
        </div>
    </div>
</div>